<nav class="flex flex-row items-center w-full justify-around py-6">
  <div class="flex flex-row items-center gap-3">
    <svg
      width="30"
      height="30"
      viewBox="0 0 1000 1000"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g clip-path="url(#clip0_302_488)">
        <path
          d="M0 0C330 0 660 0 1000 0C1000 330 1000 660 1000 1000C670 1000 340 1000 0 1000C0 670 0 340 0 0Z"
          fill="#8DC73F"></path>
        <path
          d="M608.015 74.1561C610.902 74.9722 613.797 75.7557 616.695 76.5311C627.335 79.416 637.554 82.9128 647.752 87.0922C650.006 88.0024 652.273 88.871 654.547 89.7303C682.438 100.374 709.23 114.353 734 131C734.653 131.437 735.307 131.874 735.98 132.324C743.316 137.246 750.51 142.231 757.328 147.859C759.414 149.531 761.514 151.128 763.672 152.703C772.445 159.112 780.484 165.911 788.321 173.432C790.121 175.113 791.973 176.721 793.84 178.328C798.449 182.332 802.757 186.61 807.062 190.937C807.826 191.697 808.59 192.457 809.377 193.24C814.126 197.997 818.631 202.894 823 208C823.997 209.141 824.994 210.282 825.992 211.422C831.866 218.183 837.498 225.041 842.76 232.296C844.135 234.186 845.527 236.063 846.918 237.941C859.849 255.5 871.897 273.658 882 293C882.346 293.66 882.692 294.32 883.048 294.999C924.02 373.755 940.904 463.838 930 552C929.855 553.2 929.711 554.4 929.562 555.637C926.359 581.658 920.864 606.995 913 632C912.748 632.811 912.495 633.622 912.235 634.458C908.442 646.554 903.882 658.305 899 670C898.613 670.93 898.226 671.861 897.827 672.819C892.204 686.258 886.073 699.265 879 712C878.381 713.127 878.381 713.127 877.749 714.277C867.586 732.676 855.994 750.47 843 767C842.145 768.109 841.291 769.218 840.438 770.328C827.877 786.581 814.235 801.819 799.75 816.375C799.101 817.029 798.451 817.683 797.782 818.357C793.352 822.773 788.75 826.932 784 831C783.459 831.468 782.918 831.936 782.361 832.418C774.457 839.244 766.35 845.731 758 852C757.436 852.427 756.872 852.855 756.292 853.295C724.722 877.196 689.759 896.388 653 911C651.729 911.506 651.729 911.506 650.433 912.022C617.371 925.022 583.074 932.96 548 938C546.734 938.182 545.468 938.364 544.164 938.552C485.533 946.533 419.358 941.9 363.289 922.156C359.924 920.973 356.538 919.911 353.125 918.875C348.053 917.332 343.021 915.702 338 914C342.486 912.601 345.984 913.885 350.375 915.125C413.592 931.82 482.797 929.801 546 914C546.827 913.793 547.654 913.586 548.506 913.373C576.015 906.323 603.581 896.223 628.792 883.141C631.189 881.902 633.596 880.686 636.004 879.469C648.118 873.295 659.672 866.515 671 859C671.716 858.525 672.431 858.05 673.168 857.561C681.827 851.781 690.21 845.709 698.385 839.264C700.042 837.967 701.714 836.693 703.391 835.422C716.392 825.501 727.922 814.149 739.5 802.625C740.337 801.793 741.174 800.961 742.036 800.104C746.896 795.23 751.538 790.24 756 785C756.924 783.932 757.849 782.864 758.773 781.797C773.454 764.665 785.889 745.997 798 727C798.434 726.321 798.868 725.643 799.314 724.944C805.365 715.408 810.28 705.492 814.974 695.228C815.888 693.243 816.822 691.27 817.77 689.301C827.275 669.422 835.08 649.233 841 628C841.305 626.913 841.611 625.826 841.925 624.706C845.848 610.518 848.849 596.251 851.312 581.75C851.497 580.683 851.497 580.683 851.686 579.594C855.368 558.111 856.415 536.519 856.375 514.75C856.374 513.626 856.374 512.503 856.373 511.345C856.291 474.245 851.409 437.675 841 402C840.757 401.159 840.515 400.317 840.265 399.451C827.486 355.286 807.325 311.025 779 274.578C776.965 271.955 775.044 269.271 773.125 266.562C768.43 260.077 763.236 254.049 758 248C757.383 247.281 756.765 246.561 756.129 245.82C754.437 243.864 752.724 241.928 751 240C750.227 239.134 749.453 238.267 748.656 237.375C738.706 226.371 728.407 215.509 717 206C716.04 205.174 715.079 204.347 714.09 203.496C667.127 163.143 611.768 134.107 552 118C551.273 117.802 550.547 117.604 549.798 117.4C545.936 116.358 542.061 115.395 538.162 114.499C536.63 114.145 535.101 113.783 533.572 113.415C484.13 101.598 430.074 100.815 380 109C379.344 109.104 378.689 109.208 378.013 109.316C357.525 112.573 337.75 117.741 318 124C317.051 124.3 316.102 124.6 315.124 124.91C262.647 141.788 213.141 170.629 172.43 207.789C170.907 209.174 169.373 210.546 167.82 211.898C154.906 223.204 142.497 235.406 132 249C130.023 251.354 128.013 253.677 126 256C126 252.684 126.387 252.079 128.238 249.48C128.723 248.795 129.208 248.109 129.707 247.403C130.237 246.672 130.767 245.941 131.312 245.187C131.856 244.429 132.399 243.671 132.959 242.89C147.721 222.429 164.285 203.675 182.043 185.782C183.039 184.778 184.033 183.772 185.026 182.766C190.932 176.784 197.002 171.17 203.593 165.939C205.853 164.118 207.997 162.222 210.125 160.25C257.648 117.581 319.668 88.289 381.223 72.7062C383.337 72.1686 385.447 71.6195 387.556 71.0651C397.321 68.5246 407.107 66.5627 417.062 64.9374C417.84 64.8101 418.617 64.6829 419.418 64.5518C482 54.4002 546.868 56.8129 608.015 74.1561Z"
          fill="#FEFEFD"></path>
        <path
          d="M571.383 494.922C607.64 494.177 642.283 499.372 677 510C677.884 510.27 678.769 510.541 679.68 510.819C714.532 521.638 747.538 536.807 779.173 554.868C780.904 555.856 782.637 556.839 784.37 557.823C785.433 558.436 786.495 559.048 787.59 559.679C788.537 560.223 789.485 560.767 790.461 561.327C792.991 562.994 794.945 564.784 797 567C796.342 567.125 795.684 567.25 795.007 567.379C775.373 571.144 756.396 575.046 738 583C736.705 583.53 735.41 584.059 734.113 584.586C712.493 593.51 693.776 606.803 677 623C676.274 623.686 675.549 624.371 674.801 625.078C670.257 629.47 666.305 634.22 662.352 639.144C659.985 642.018 657.522 644.763 655 647.5C650.984 651.867 647.206 656.368 643.48 660.984C640.001 665.215 636.394 669.331 632.791 673.456C629.674 677.036 626.642 680.658 623.688 684.375C618.961 690.23 613.78 695.641 608.583 701.075C605.21 704.608 602.036 708.17 599 712C597.017 713.687 595.017 715.353 593 717C590.488 719.462 588.031 721.968 585.598 724.508C578.581 731.751 571.073 737.971 563 744C562.429 744.432 561.858 744.864 561.269 745.309C534.049 765.815 503.883 776.853 469.474 772.328C437.852 767.236 411.845 747.166 389 726C392.362 707.835 411.086 688.4 423 675C423.504 674.411 424.009 673.821 424.529 673.214C435.47 660.482 447.551 648.087 461 638C462.183 637.078 463.365 636.154 464.547 635.23C511.53 598.84 567.381 579.025 626 572C548.908 570.817 470.487 601.62 412 652C410.149 653.503 408.294 655.003 406.437 656.5C384.049 674.884 365.047 694.964 352 721C351.668 721.652 351.335 722.305 350.993 722.977C342.856 739.226 337.814 757.886 337.867 776.086C337.866 777.198 337.866 777.198 337.864 778.334C337.864 779.892 337.865 781.45 337.87 783.008C337.875 785.362 337.87 787.716 337.863 790.07C337.86 797.771 338.034 805.347 339 813C384.635 831.54 431.078 844.272 480.75 844.187C481.901 844.185 481.901 844.185 483.076 844.183C529.572 844.038 575.14 835.146 618 817C618.959 816.597 619.919 816.193 620.907 815.778C638.798 808.175 655.86 798.844 672 788C672.984 787.34 673.967 786.68 674.98 786C694.084 772.969 711.475 758.674 727.875 742.375C728.362 741.894 728.848 741.412 729.349 740.917C735.35 734.966 740.922 728.859 746.129 722.201C748 720 748 720 751 718C741.072 739.436 720.138 759.089 704 776C702.763 777.301 702.763 777.301 701.5 778.629C696.836 783.417 691.876 787.663 686.656 791.836C684.349 793.715 682.175 795.659 680 797.687C661.021 814.651 638.444 828.169 616 840C615.344 840.347 614.688 840.694 614.012 841.052C595.394 850.831 575.967 858.464 556 865C555.172 865.274 554.344 865.549 553.491 865.831C522.004 876.167 489.06 881.169 456 882C454.772 882.034 453.545 882.068 452.28 882.103C389.111 883.631 324.074 869.683 269 838C268.726 829.86 269.355 822.442 271.125 814.5C271.348 813.469 271.571 812.438 271.801 811.376C279.802 775.427 295.332 742.053 318 713C318.822 711.905 318.822 711.905 319.66 710.789C328.23 699.46 337.781 689.041 347.812 679C348.6 678.211 349.388 677.422 350.2 676.61C354.425 672.425 358.743 668.418 363.251 664.541C364.718 663.248 366.111 661.873 367.484 660.48C373.044 654.854 378.524 651.487 385.625 648.125C400.616 641.022 413.164 631.56 425 620C425.674 619.376 426.348 618.752 427.043 618.109C431.816 613.599 435.42 608.485 439 603C439.663 601.997 440.325 600.994 441.008 599.961C451.366 583.774 459.048 563.698 458.988 544.172C459.018 534.225 459.018 534.225 461.758 530.808C464.404 528.926 467.11 527.479 470 526C471.702 524.93 473.404 523.86 475.098 522.778C504.03 504.631 537.389 495.707 571.383 494.922Z"
          fill="#FDFEFD"></path>
        <path
          d="M396 215C395.577 216.216 395.154 217.431 394.719 218.684C384.01 250.904 378.879 286.314 385 320C385.14 320.849 385.28 321.697 385.424 322.571C388.219 339.28 393.524 354.39 400 370C400.619 371.524 401.236 373.049 401.852 374.574C403.222 377.955 404.621 381.324 406.031 384.688C407.16 387.382 408.283 390.078 409.406 392.773C410.043 394.301 410.043 394.301 410.692 395.86C411.562 397.949 412.432 400.039 413.302 402.128C415.174 406.626 417.049 411.123 418.949 415.609C422.422 423.854 425.541 432.17 428.444 440.632C429.987 445.131 431.589 449.592 433.318 454.023C441.756 475.73 448.906 500.442 449.273 523.82C449.286 524.553 449.298 525.286 449.311 526.041C449.535 542.257 449.447 557.515 444 573C443.781 573.65 443.561 574.299 443.335 574.969C432.179 607.06 404.002 627.016 374.727 641.215C373.485 641.811 372.242 642.406 371 643C369.976 643.496 368.953 643.993 367.898 644.504C362.053 647.262 356.204 649.209 350 651C336.278 628.848 324.668 606.62 316 582C315.661 581.042 315.322 580.084 314.973 579.097C290.136 507.891 298.289 429.967 326 361C300.616 407.723 288.758 457.975 288.812 511.125C288.813 512.198 288.814 513.271 288.814 514.377C288.852 539.322 290.684 563.402 295 588C295.157 588.899 295.314 589.799 295.477 590.726C301.062 621.976 310.33 654.999 327.918 681.758C329 684 329 684 328.871 686.102C327.843 688.343 326.685 689.578 324.875 691.25C320.081 695.837 315.738 700.745 311.687 706C311.131 706.66 310.574 707.32 310 708C309.34 708 308.68 708 308 708C302.889 695.522 298.142 682.98 293.773 670.225C292.684 667.092 291.525 663.986 290.375 660.875C288.468 655.579 286.91 650.241 285.437 644.812C282.113 630.966 282.113 630.966 273.894 619.762C270.121 616.253 267.119 612.085 264 608C263.49 607.334 262.98 606.668 262.455 605.982C230.942 564.632 209.958 518.379 209.625 465.812C209.613 464.679 209.613 464.679 209.6 463.523C209.51 452.363 210.733 441.92 213 431C213.189 430.051 213.378 429.102 213.573 428.124C214.024 425.91 214.503 423.705 215 421.5C215.152 420.794 215.304 420.087 215.461 419.359C222.835 386.237 241.45 355.53 262 329C262.557 328.261 263.114 327.523 263.687 326.762C274.932 311.976 287.469 298.016 301.062 285.375C301.721 284.762 302.381 284.149 303.06 283.517C304.402 282.269 305.745 281.022 307.088 279.775C308.815 278.172 310.539 276.565 312.262 274.957C318.635 269.034 325.192 263.417 332 258C332.512 257.588 333.024 257.176 333.552 256.752C347.183 245.794 361.343 235.542 376 226C377.469 225.024 378.938 224.047 380.406 223.07C381.958 222.046 383.51 221.023 385.062 220C385.802 219.506 386.541 219.012 387.303 218.503C387.998 218.049 388.694 217.594 389.41 217.125C390.34 216.51 390.34 216.51 391.289 215.883C393 215 393 215 396 215Z"
          fill="#FEFEFD"></path>
        <path
          d="M999 520C999.33 520 999.66 520 1000 520C1000 678.4 1000 836.8 1000 1000C844.24 1000 688.48 1000 528 1000C528 999.67 528 999.34 528 999C528.77 998.941 529.541 998.881 530.334 998.82C570.465 995.624 609.356 988.857 647.873 976.962C649.965 976.318 652.061 975.686 654.16 975.064C662.527 972.564 670.68 969.605 678.812 966.438C679.482 966.178 680.151 965.918 680.841 965.65C693.804 960.608 706.466 955.032 719 949C719.85 948.596 720.701 948.192 721.577 947.776C743.474 937.341 764.043 924.748 784 911C784.759 910.482 785.518 909.964 786.3 909.43C796.974 902.133 807.103 894.318 817 886C817.615 885.484 818.23 884.968 818.864 884.437C826.589 877.935 834.11 871.24 841.51 864.372C843.052 862.952 844.608 861.549 846.168 860.148C851.17 855.647 855.96 851.127 860.293 845.961C862.899 842.968 865.747 840.231 868.594 837.469C891.996 813.458 912.068 784.832 929 756C929.471 755.206 929.942 754.412 930.428 753.593C944.4 729.981 955.944 705.516 966 680C966.642 678.378 966.642 678.378 967.298 676.724C972.334 663.93 976.731 651.096 980.251 637.804C981.047 634.823 981.878 631.853 982.711 628.883C992.522 593.24 996.79 556.822 999 520Z"
          fill="#FEFEFE"></path>
        <path
          d="M520 0C678.4 0 836.8 0 1000 0C1000 158.4 1000 316.8 1000 480C999.67 480 999.34 480 999 480C998.96 479.259 998.921 478.518 998.88 477.754C993.446 379.636 962.045 288.776 887.535 184.934C885.183 182.212 882.929 179.437 880.688 176.625C874.028 168.436 866.732 160.712 859.254 153.266C857.44 151.443 855.799 149.621 854.188 147.625C851.407 144.332 848.34 141.593 845.059 138.809C842.997 136.997 841.096 135.096 839.188 133.125C835.301 129.178 831.098 125.744 826.781 122.281C824.145 120.119 821.631 117.874 819.125 115.562C788.983 88.212 751.308 66.1246 714.535 49.2017C711.741 47.8772 708.997 46.4697 706.246 45.0586C699.735 41.7853 693.048 39.1134 686.25 36.5C685.002 36.017 683.755 35.5337 682.508 35.05C680.079 34.1109 677.65 33.1743 675.22 32.2407C672.596 31.2295 669.978 30.2048 667.363 29.168C656.789 25.0175 645.951 21.9806 635 19C633.427 18.5626 631.854 18.1251 630.281 17.6875C594.175 7.77439 557.345 2.65592 520 1C520 0.67 520 0.34 520 0Z"
          fill="#FEFEFE"></path>
        <path
          d="M0 520C0.33 520 0.66 520 1 520C1.06993 521.07 1.13986 522.141 1.21191 523.243C3.89704 563.793 9.67925 602.852 21 642C21.2365 642.825 21.4731 643.651 21.7168 644.501C42.9841 717.812 83.0407 783.353 133.93 839.676C135.578 841.527 137.182 843.394 138.75 845.312C145.381 853.233 153.421 860.041 160.953 867.085C162.182 868.235 163.411 869.386 164.637 870.54C170.519 876.066 176.632 881.165 183.011 886.098C186.187 888.556 189.268 891.057 192.25 893.75C194.926 896.149 197.694 898.249 200.652 900.289C203.988 902.602 207.312 904.927 210.613 907.289C234.744 924.468 260.264 939.245 287 952C287.774 952.372 288.547 952.743 289.344 953.126C312.418 964.134 336.359 973.185 361 980C362.151 980.321 363.303 980.641 364.489 980.972C390.317 988.09 416.241 993.351 442.875 996.312C443.605 996.394 444.336 996.475 445.088 996.559C456.041 997.76 466.995 998.474 478 999C478 999.33 478 999.66 478 1000C320.26 1000 162.52 1000 0 1000C0 841.6 0 683.2 0 520Z"
          fill="#FEFEFE"></path>
        <path
          d="M0 0C155.76 0 311.52 0 472 0C472 0.33 472 0.66 472 1C471.385 1.0344 470.77 1.0688 470.137 1.10425C450.873 2.24285 432.015 4.82083 413 8C411.991 8.16758 410.981 8.33516 409.941 8.50781C398.991 10.3617 388.218 12.8367 377.438 15.5C376.283 15.7847 375.129 16.0694 373.94 16.3628C367.543 17.9821 361.304 19.8442 355.065 21.9905C351.825 23.0577 348.564 23.9706 345.273 24.8711C337.207 27.1449 329.436 30.0447 321.625 33.0625C320.886 33.3466 320.148 33.6306 319.387 33.9233C299.004 41.7811 279.55 50.8934 260.506 61.605C258.21 62.883 255.899 64.1233 253.574 65.3477C234.04 75.7208 215.576 88.6078 198 102C197.196 102.605 196.391 103.209 195.562 103.832C182.466 113.818 170.194 124.949 158 136C157 136.893 156 137.786 155 138.68C146.15 146.649 138.037 155.218 130 164C129.131 164.942 128.262 165.885 127.367 166.855C120.006 174.922 113.207 183.437 106.438 192C106.015 192.533 105.592 193.065 105.157 193.614C98.0257 202.687 91.4489 212.143 85.0625 221.75C84.363 222.802 83.6635 223.854 82.9429 224.938C77.723 232.829 72.683 240.78 68 249C67.6012 249.698 67.2024 250.395 66.7915 251.114C53.5257 274.412 41.1955 298.797 32 324C31.6964 324.83 31.3929 325.66 31.0801 326.515C26.1212 340.186 21.7533 353.952 18 368C17.7554 368.902 17.5108 369.804 17.2588 370.733C8.29768 404.026 3.68658 437.687 1 472C0.67 472 0.34 472 0 472C0 316.24 0 160.48 0 0Z"
          fill="#FEFEFE"></path>
        <path
          d="M428.605 143.797C429.768 143.791 430.931 143.786 432.129 143.78C434.579 143.77 437.029 143.764 439.478 143.76C443.134 143.75 446.788 143.719 450.443 143.688C480.285 143.554 510.267 147.254 539 155.449C540.873 155.965 542.765 156.415 544.656 156.859C550.884 158.395 556.928 160.573 563 162.625C564.264 163.05 565.529 163.474 566.793 163.899C569.863 164.93 572.932 165.964 576 167C572.616 168.128 571.68 167.856 568.336 166.926C567.392 166.672 566.448 166.419 565.476 166.157C563.941 165.739 563.941 165.739 562.375 165.313C515.282 153.096 465.629 153.006 418 162C416.575 162.269 416.575 162.269 415.122 162.543C364.649 172.283 316.978 194.081 276 225C275.466 225.403 274.931 225.806 274.38 226.221C266.501 232.195 259.09 238.509 251.895 245.289C249.575 247.462 247.229 249.562 244.813 251.625C237.278 258.158 230.426 265.386 224 273C223.287 273.824 222.574 274.647 221.84 275.496C191.647 310.893 169.243 351.776 155 396C154.641 397.095 154.641 397.095 154.275 398.213C145.387 425.608 139.977 454.864 139.762 483.691C139.752 484.783 139.742 485.874 139.732 486.999C139.464 524.801 141.778 560.656 153 597C153.356 598.209 153.712 599.418 154.078 600.664C159.25 618.057 166.061 634.549 173.938 650.875C174.268 651.565 174.599 652.254 174.939 652.964C188.542 681.235 206.592 708.596 228.355 731.238C230.736 733.725 232.997 736.274 235.25 738.875C244.323 749.007 254.744 758.083 265 767C263.422 772.569 261.646 778.013 259.625 783.438C254.757 796.929 251.59 810.912 249 825C244.678 823.481 241.025 821.235 237.25 818.688C236.279 818.035 236.279 818.035 235.288 817.369C216.864 804.828 200.086 790.378 184 775C183.058 774.1 182.115 773.201 181.145 772.273C176.107 767.353 171.584 762.193 167.195 756.688C165.154 754.189 163.023 751.849 160.813 749.5C143.754 730.718 130.058 708.219 118 686C117.537 685.15 117.075 684.3 116.598 683.425C105.147 662.132 96.311 639.13 89.563 615.923C89.0403 614.138 88.4882 612.361 87.9336 610.586C80.92 587.537 78.2924 563.882 76 540C75.8933 538.94 75.7865 537.88 75.6765 536.788C74.9285 528.82 74.7974 520.874 74.8125 512.875C74.8138 512.177 74.8151 511.48 74.8164 510.761C75.0681 437.409 97.2236 362.977 140 303C140.532 302.253 141.065 301.505 141.613 300.735C151.005 287.628 160.975 275.303 171.836 263.387C173.275 261.8 174.697 260.199 176.102 258.582C181.819 252.044 188.012 246.197 194.457 240.395C195.835 239.149 197.2 237.888 198.563 236.625C205.391 230.336 212.618 224.619 220 219C220.9 218.315 220.9 218.315 221.817 217.616C238.032 205.344 255.181 194.779 273 185C273.668 184.633 274.335 184.266 275.023 183.888C321.154 158.891 376.187 144.004 428.605 143.797Z"
          fill="#FEFEFD"></path>
        <path
          d="M356 250C356.99 250.495 356.99 250.495 358 251C357.158 251.837 356.316 252.673 355.449 253.535C352.295 256.671 349.144 259.81 345.994 262.951C344.637 264.303 343.278 265.655 341.918 267.006C331.619 277.186 331.619 277.186 322 288C321.47 288.623 320.94 289.247 320.394 289.889C293.298 321.839 268.8 358.167 255 398C254.529 399.289 254.057 400.578 253.586 401.867C250.402 410.774 247.927 419.797 245.75 429C245.504 430.019 245.258 431.037 245.004 432.087C241.293 448.359 240.56 464.739 240.563 481.375C240.561 482.333 240.56 483.292 240.558 484.279C240.577 499.646 241.756 514.137 245.321 529.141C245.951 531.793 246.514 534.45 247.059 537.121C251.86 559.517 261.367 580.814 271.981 600.992C273.14 603.276 274.127 605.593 275 608C270.892 604.131 267.611 599.991 264.375 595.375C263.857 594.636 263.338 593.898 262.804 593.137C249.922 574.489 239.633 554.317 232 533C231.729 532.254 231.458 531.508 231.179 530.74C226.418 517.43 223.967 503.973 222 490C221.805 488.697 221.611 487.394 221.41 486.051C214.303 426.639 242.15 370.504 277.816 325.121C281.764 320.182 285.968 315.521 290.297 310.914C292.313 308.741 294.258 306.548 296.188 304.301C300.657 299.172 305.443 294.373 310.25 289.562C311.128 288.672 312.006 287.782 312.91 286.865C318.194 281.57 323.642 276.677 329.502 272.025C332.028 269.977 334.425 267.832 336.813 265.625C342.918 260.052 349.457 255.044 356 250Z"
          fill="#8FC742"></path>
        <path
          d="M674 601C674.99 601.495 674.99 601.495 676 602C675.166 602.811 674.332 603.622 673.473 604.457C667.325 610.486 661.533 616.563 656.176 623.32C653.88 626.148 651.469 628.823 649 631.5C644.98 635.872 641.2 640.378 637.469 644.996C634.063 649.14 630.546 653.181 627.022 657.224C624.245 660.409 621.48 663.602 618.746 666.824C609.583 677.622 609.583 677.622 604.679 682.32C602.984 684.016 601.434 685.78 599.879 687.605C589.659 699.354 578.404 710.57 566 720C565.037 720.78 564.074 721.56 563.082 722.363C535.39 744.664 504.783 756.909 469 754C455.972 752.334 436.496 747.496 427 738C431.616 738.873 436.171 739.761 440.688 741.062C457.691 745.875 477.271 743.957 494 739C495.244 738.649 496.488 738.299 497.77 737.938C526.146 729.234 551.831 711.874 574.055 692.547C576.845 690.134 579.687 687.81 582.562 685.5C587.634 681.375 592.434 677.004 597.223 672.559C599.489 670.47 601.783 668.44 604.125 666.438C608.15 662.955 611.843 659.171 615.582 655.387C617.563 653.432 619.563 651.605 621.688 649.812C626.564 645.651 630.988 641.036 635.495 636.485C639.288 632.67 643.134 629.008 647.246 625.535C649.258 623.774 651.124 621.905 653 620C656.179 616.777 659.472 613.761 662.902 610.809C665.29 608.75 667.646 606.659 670 604.562C671.145 603.543 671.145 603.543 672.312 602.504C672.869 602.008 673.426 601.511 674 601Z"
          fill="#8EC741"></path>
        <path
          d="M161 208C161.495 208.99 161.495 208.99 162 210C162.66 210.33 163.32 210.66 164 211C163.542 215.723 161.778 217.675 158.406 220.914C157.941 221.369 157.475 221.824 156.995 222.293C155.506 223.747 154.004 225.187 152.5 226.625C145.137 233.708 138.355 240.974 132 249C130.021 251.352 128.013 253.677 126 256C126 252.684 126.387 252.079 128.238 249.48C128.723 248.795 129.208 248.11 129.707 247.403C130.237 246.672 130.767 245.941 131.312 245.188C131.856 244.429 132.399 243.671 132.959 242.89C150.702 218.298 150.702 218.298 161 208Z"
          fill="#F4FAED"></path>
        <path
          d="M674 601C674.66 601.33 675.32 601.66 676 602C674.749 603.216 674.749 603.216 673.473 604.457C667.33 610.482 661.537 616.553 656.188 623.309C653.831 626.207 651.348 628.945 648.812 631.688C644.903 635.932 641.324 640.285 638 645C637.34 644.67 636.68 644.34 636 644C636 643.01 636 642.02 636 641C633.525 641.495 633.525 641.495 631 642C635.016 637.112 639.27 632.703 643.938 628.438C645.259 627.218 646.581 625.998 647.902 624.777C648.913 623.847 648.913 623.847 649.945 622.898C651.994 621.005 654.032 619.101 656.066 617.191C656.726 616.573 657.385 615.954 658.065 615.317C659.315 614.143 660.564 612.969 661.812 611.795C665.78 608.08 669.846 604.504 674 601Z"
          fill="#93C847"></path>
        <path
          d="M750 718C750 721.977 748.607 723.181 746.188 726.312C745.785 726.836 745.383 727.359 744.968 727.899C743.653 729.605 742.326 731.302 741 733C740.113 734.148 739.226 735.297 738.34 736.445C732.108 744.483 725.626 752.285 719 760C717.539 757.353 717 756.106 717 753C718.877 750.814 718.877 750.814 721.496 748.281C721.963 747.823 722.43 747.365 722.911 746.893C724.413 745.422 725.924 743.96 727.438 742.5C734.141 736.016 740.444 729.521 746.242 722.197C748 720 748 720 750 718Z"
          fill="#F5FBEF"></path>
        <path
          d="M427 738C436.036 739.709 436.036 739.709 440.312 741C445.795 742.487 451.381 743.206 457 744C456.67 745.32 456.34 746.64 456 748C458.64 748.33 461.28 748.66 464 749C463.34 749.99 462.68 750.98 462 752C449.355 749.506 438.449 744.859 427 739C427 738.67 427 738.34 427 738Z"
          fill="#92C847"></path>
        <path
          d="M161 208C161.33 208.66 161.66 209.32 162 210C162.66 210.33 163.32 210.66 164 211C163.543 215.682 161.809 217.631 158.438 220.812C157.198 221.998 157.198 221.998 155.934 223.207C154.976 224.095 154.976 224.095 154 225C152.68 224.34 151.36 223.68 150 223C151.417 218.68 153.538 215.995 156.625 212.688C157.442 211.804 158.26 210.921 159.102 210.012C159.728 209.348 160.355 208.684 161 208Z"
          fill="#F6FBF2"></path>
        <path
          d="M326 360C327 362 327 362 326.427 363.904C326.105 364.668 325.784 365.432 325.453 366.219C325.102 367.07 324.752 367.92 324.391 368.797C324.014 369.689 323.638 370.581 323.25 371.5C320.422 378.246 317.965 384.949 316 392C315.67 391.01 315.34 390.02 315 389C314.34 389 313.68 389 313 389C313 389.66 313 390.32 313 391C312.34 391 311.68 391 311 391C313.15 383.863 316.103 377.557 319.625 371C320.128 370.047 320.63 369.095 321.148 368.113C324.836 361.164 324.836 361.164 326 360Z"
          fill="#96CA4D"></path>
        <path
          d="M338 913C343.394 913.581 348.507 914.528 353.75 915.938C360.451 917.682 367.141 919.013 374 920C372.68 921.32 371.36 922.64 370 924C359.287 920.808 348.587 917.589 338 914C338 913.67 338 913.34 338 913Z"
          fill="#F5FAEF"></path>
        <path
          d="M769 842C771.625 842.375 771.625 842.375 774 843C773.34 844.65 772.68 846.3 772 848C770.68 848 769.36 848 768 848C767.67 848.99 767.34 849.98 767 851C766.01 851 765.02 851 764 851C764 851.66 764 852.32 764 853C763.34 853 762.68 853 762 853C761.67 852.34 761.34 851.68 761 851C760.01 852.485 760.01 852.485 759 854C757.68 853.67 756.36 853.34 755 853C755.843 852.374 756.686 851.747 757.555 851.102C758.662 850.276 759.768 849.451 760.875 848.625C761.431 848.213 761.986 847.8 762.559 847.375C764.835 845.675 766.988 844.012 769 842Z"
          fill="#93C849"></path>
        <path
          d="M356 250C356.66 250.33 357.32 250.66 358 251C352.06 256.94 346.12 262.88 340 269C338.68 268.01 337.36 267.02 336 266C338.582 263.895 341.166 261.791 343.75 259.688C344.844 258.795 344.844 258.795 345.961 257.885C347.024 257.019 347.024 257.019 348.109 256.137C349.083 255.343 349.083 255.343 350.077 254.534C352.023 252.982 354.002 251.483 356 250Z"
          fill="#99CB53"></path>
        <path
          d="M545 157C552.094 159.08 559.118 161.331 566.125 163.688C567.081 164.008 568.038 164.328 569.023 164.658C571.349 165.437 573.675 166.218 576 167C572.474 168.175 571.179 167.747 567.633 166.82C566.582 166.551 565.532 166.281 564.449 166.004C563.352 165.714 562.255 165.424 561.125 165.125C558.961 164.564 556.797 164.004 554.633 163.445C553.673 163.193 552.712 162.94 551.723 162.68C549.159 162.04 546.595 161.495 544 161C544.33 159.68 544.66 158.36 545 157Z"
          fill="#E6F3D7"></path>
        <path
          d="M763 147C763.33 147.66 763.66 148.32 764 149C766.025 149.652 766.025 149.652 768 150C768 150.66 768 151.32 768 152C769.645 153.688 771.313 155.354 773 157C773.99 158.485 773.99 158.485 775 160C770.926 160 768.883 157.908 765.812 155.5C765.254 155.071 764.695 154.641 764.119 154.199C762.741 153.139 761.37 152.07 760 151C760.66 150.67 761.32 150.34 762 150C762.33 149.01 762.66 148.02 763 147Z"
          fill="#96CA4E"></path>
        <path
          d="M202 99C202.33 99.99 202.66 100.98 203 102C201.793 102.402 201.793 102.402 200.562 102.812C199.717 103.204 198.871 103.596 198 104C197.67 104.99 197.34 105.98 197 107C197.66 107.33 198.32 107.66 199 108C197.35 108.33 195.7 108.66 194 109C193.67 108.34 193.34 107.68 193 107C190.03 109.97 187.06 112.94 184 116C183.67 115.01 183.34 114.02 183 113C184.895 111.416 186.791 109.833 188.688 108.25C189.483 107.585 189.483 107.585 190.295 106.906C191.352 106.025 192.41 105.145 193.47 104.268C194.909 103.076 196.339 101.874 197.77 100.672C200 99 200 99 202 99Z"
          fill="#97CA4D"></path>
        <path
          d="M750 718C750 722.153 748.21 723.683 745.688 726.938C744.887 727.978 744.086 729.018 743.262 730.09C742.515 731.05 741.769 732.011 741 733C740.461 733.748 739.922 734.495 739.367 735.266C737.555 737.565 735.616 738.726 733 740C732.34 739.67 731.68 739.34 731 739C731.473 738.55 731.946 738.1 732.434 737.637C737.388 732.817 741.802 727.718 746.117 722.32C748 720 748 720 750 718Z"
          fill="#F5FBF0"></path>
        <path
          d="M261 589C261.66 589 262.32 589 263 589C263 589.66 263 590.32 263 591C263.66 591 264.32 591 265 591C265.33 590.34 265.66 589.68 266 589C267.534 591.785 269.05 594.579 270.562 597.375C271 598.169 271.438 598.963 271.889 599.781C272.298 600.542 272.707 601.302 273.129 602.086C273.511 602.788 273.893 603.489 274.287 604.212C274.523 604.802 274.758 605.392 275 606C274.67 606.66 274.34 607.32 274 608C272.014 605.401 270.038 602.795 268.062 600.188C267.499 599.45 266.935 598.712 266.354 597.951C265.815 597.239 265.277 596.527 264.723 595.793C264.225 595.138 263.728 594.484 263.215 593.809C262 592 262 592 261 589Z"
          fill="#98CA51"></path>
        <path
          d="M674 601C674.66 601.33 675.32 601.66 676 602C670.333 607.667 664.667 613.333 659 619C658.01 618.34 657.02 617.68 656 617C661.957 611.617 667.939 606.266 674 601Z"
          fill="#A2CE61"></path>
        <path
          d="M191 191C191.33 191.99 191.66 192.98 192 194C191.34 194.66 190.68 195.32 190 196C189.01 197.485 189.01 197.485 188 199C186.032 200.062 184.034 201.071 182 202C182 202.66 182 203.32 182 204C180.02 204 178.04 204 176 204C180.566 199.129 185.75 195.108 191 191Z"
          fill="#97C94F"></path>
        <path
          d="M449 523C449.33 523 449.66 523 450 523C450.338 526.375 450.67 529.75 451 533.125C451.095 534.076 451.191 535.028 451.289 536.008C451.744 540.691 452.127 545.288 452 550C451.34 550.33 450.68 550.66 450 551C448.643 548.286 448.888 546.152 448.902 543.117C448.906 541.951 448.909 540.784 448.912 539.582C448.92 538.359 448.929 537.135 448.937 535.875C448.942 534.644 448.947 533.413 448.951 532.145C448.963 529.096 448.979 526.048 449 523Z"
          fill="#A6D267"></path>
        <path
          d="M45 291C45.66 291.33 46.32 291.66 47 292C46.9794 293.114 46.9588 294.227 46.9375 295.375C46.7362 298.832 46.7362 298.832 48 301C47.01 302.485 47.01 302.485 46 304C45.34 303.01 44.68 302.02 44 301C43.01 302.485 43.01 302.485 42 304C41.34 304 40.68 304 40 304C41.4181 299.528 43.113 295.289 45 291Z"
          fill="#94C84C"></path>
        <path
          d="M615 693C615.33 693.66 615.66 694.32 616 695C615.062 697.125 615.062 697.125 614 699C613.34 699 612.68 699 612 699C612.33 699.99 612.66 700.98 613 702C609.433 704.489 606.11 706.55 602 708C606.298 702.968 610.634 697.973 615 693Z"
          fill="#96C84C"></path>
        <path
          d="M77 552C77.33 552 77.66 552 78 552C78.66 558.6 79.32 565.2 80 572C74.7006 564.934 74.7006 564.934 75.3125 560.562C75.4614 559.42 75.4614 559.42 75.6133 558.254C75.9772 556.133 76.4461 554.078 77 552Z"
          fill="#9ACC55"></path>
        <path
          d="M580 574C580.66 574.33 581.32 574.66 582 575C582 575.99 582 576.98 582 578C582.66 578.66 583.32 579.32 584 580C575.571 582.286 575.571 582.286 571 582C573.627 578.401 575.94 575.923 580 574Z"
          fill="#8EC642"></path>
        <path
          d="M725 813C725.99 813.66 726.98 814.32 728 815C726.735 816.319 725.463 817.63 724.188 818.938C723.48 819.668 722.772 820.399 722.043 821.152C720 823 720 823 717 824C717.75 818.25 717.75 818.25 720 816C720.66 816.33 721.32 816.66 722 817C722.99 815.68 723.98 814.36 725 813Z"
          fill="#96CA4E"></path>
        <path
          d="M427 738C433.293 739.096 439.131 740.439 445 743C445.33 743.66 445.66 744.32 446 745C438.588 744.641 433.435 742.641 427 739C427 738.67 427 738.34 427 738Z"
          fill="#98CB50"></path>
        <path
          d="M636 636C636.33 636.66 636.66 637.32 637 638C637.928 637.691 637.928 637.691 638.875 637.375C639.576 637.251 640.277 637.127 641 637C641.66 637.66 642.32 638.32 643 639C641.35 640.98 639.7 642.96 638 645C637.34 644.67 636.68 644.34 636 644C636 643.01 636 642.02 636 641C634.35 641.33 632.7 641.66 631 642C632.65 640.02 634.3 638.04 636 636Z"
          fill="#97C94F"></path>
        <path
          d="M166 621C166.33 621 166.66 621 167 621C167 624.96 167 628.92 167 633C166.01 633.495 166.01 633.495 165 634C164.329 632.377 163.663 630.751 163 629.125C162.629 628.22 162.257 627.315 161.875 626.383C161 624 161 624 161 622C162.32 622 163.64 622 165 622C165.33 621.67 165.66 621.34 166 621Z"
          fill="#94C848"></path>
        <path
          d="M689 611C689.33 611.99 689.66 612.98 690 614C689.01 615.485 689.01 615.485 688 617C687.34 617 686.68 617 686 617C686 618.32 686 619.64 686 621C684.68 621.33 683.36 621.66 682 622C682 621.34 682 620.68 682 620C681.34 619.67 680.68 619.34 680 619C682.97 616.36 685.94 613.72 689 611Z"
          fill="#93C849"></path>
        <path
          d="M672 505C672 505.66 672 506.32 672 507C674.97 507 677.94 507 681 507C681 507.66 681 508.32 681 509C678.416 510.711 677.317 511.052 674.203 510.539C673.229 510.237 672.254 509.936 671.25 509.625C670.265 509.329 669.28 509.032 668.266 508.727C667.518 508.487 666.77 508.247 666 508C668.625 505 668.625 505 672 505Z"
          fill="#96CA4E"></path>
        <path
          d="M225 271C225 274.259 224.21 276.009 223 279C222.631 280.659 222.287 282.325 222 284C221.34 283.34 220.68 282.68 220 282C218.35 282.66 216.7 283.32 215 284C217.627 279.055 221.266 275.122 225 271Z"
          fill="#97CA4D"></path>
        <path
          d="M863 737C864.056 740.168 864.131 740.985 863 744C862.022 745.022 861.019 746.02 860 747C859.526 747.866 859.051 748.733 858.562 749.625C857 752 857 752 854.902 752.648C854.275 752.764 853.647 752.88 853 753C853.471 752.264 853.941 751.528 854.426 750.77C855.048 749.794 855.671 748.818 856.312 747.812C856.927 746.85 857.542 745.887 858.176 744.895C859.821 742.284 861.424 739.653 863 737Z"
          fill="#97C94E"></path>
        <path
          d="M141 237C141.66 237.66 142.32 238.32 143 239C142.895 242.164 141.948 243.049 139.625 245.25C137 247 137 247 134 247C135.668 243.059 138.227 240.211 141 237Z"
          fill="#94C94C"></path>
        <path
          d="M229 79C229.99 79.33 230.98 79.66 232 80C230.707 82.8844 229.341 84.8722 227 87C226.34 86.67 225.68 86.34 225 86C224.34 86 223.68 86 223 86C222.01 85.67 221.02 85.34 220 85C221.429 83.9667 222.868 82.9487 224.312 81.9375C225.113 81.369 225.914 80.8005 226.738 80.2148C227.485 79.8139 228.231 79.413 229 79Z"
          fill="#93C84A"></path>
        <path
          d="M647 913C647 913.66 647 914.32 647 915C641.609 918.594 638.463 919.454 632 919C635.843 915.491 641.747 913 647 913Z"
          fill="#98CB52"></path>
        <path
          d="M338 913C344.575 913.62 350.667 915.149 357 917C357 917.99 357 918.98 357 920C350.623 918.123 344.293 916.143 338 914C338 913.67 338 913.34 338 913Z"
          fill="#EAF4DD"></path>
        <path
          d="M619 653C619.1 656.492 618.778 659.594 618 663C617.34 663 616.68 663 616 663C616 662.34 616 661.68 616 661C615.01 661.33 614.02 661.66 613 662C612.34 661.34 611.68 660.68 611 660C612.143 658.83 613.289 657.664 614.438 656.5C615.076 655.85 615.714 655.201 616.371 654.531C618 653 618 653 619 653Z"
          fill="#96CA4D"></path>
        <path
          d="M139 472C139.307 472.624 139.614 473.248 139.93 473.891C140.944 475.978 140.944 475.978 142.125 477.75C143.462 481.187 143.122 484.329 143 488C142.01 487.67 141.02 487.34 140 487C138.905 483.715 138.9 481.263 138.937 477.812C138.946 476.726 138.956 475.639 138.965 474.52C138.976 473.688 138.988 472.857 139 472Z"
          fill="#96CB51"></path>
        <path
          d="M893 191C897.875 195.625 897.875 195.625 899 199C897.68 198.67 896.36 198.34 895 198C894.67 198.66 894.34 199.32 894 200C892.333 200 890.667 200 889 200C889.33 198.68 889.66 197.36 890 196C891.32 196 892.64 196 894 196C893.67 194.35 893.34 192.7 893 191Z"
          fill="#96C94E"></path>
        <path
          d="M472 923C472 923.33 472 923.66 472 924C477.94 924 483.88 924 490 924C490 924.33 490 924.66 490 925C469.405 927.603 469.405 927.603 464 924C466.928 923.024 468.956 922.918 472 923Z"
          fill="#9DCC59"></path>
        <path
          d="M345 734C345.66 734 346.32 734 347 734C347.66 735.98 348.32 737.96 349 740C347.355 741.688 345.687 743.354 344 745C343.67 745 343.34 745 343 745C343.875 737.375 343.875 737.375 345 734Z"
          fill="#93C94A"></path>
        <path
          d="M89 614C90.6837 617.367 91.6822 620.15 92.625 623.75C92.8854 624.735 93.1458 625.72 93.4141 626.734C93.6074 627.482 93.8008 628.23 94 629C91.525 628.01 91.525 628.01 89 627C89 622.71 89 618.42 89 614Z"
          fill="#97CA4F"></path>
        <path
          d="M755 577C754.01 577.33 753.02 577.66 752 578C750.791 580 750.791 580 750 582C749.01 581.67 748.02 581.34 747 581C747 581.66 747 582.32 747 583C746.01 583 745.02 583 744 583C744 582.34 744 581.68 744 581C743.34 580.67 742.68 580.34 742 580C743.788 579.303 745.581 578.618 747.375 577.938C748.373 577.555 749.37 577.172 750.398 576.778C753 576 753 576 755 577Z"
          fill="#99CC53"></path>
        <path
          d="M286 135C286 135.99 286 136.98 286 138C285.34 138 284.68 138 284 138C284 138.66 284 139.32 284 140C284.66 140.33 285.32 140.66 286 141C282.37 141.33 278.74 141.66 275 142C274.67 141.34 274.34 140.68 274 140C277.96 138.35 281.92 136.7 286 135Z"
          fill="#95C94C"></path>
        <path
          d="M610 572C609.012 573.52 609.012 573.52 607 575C604.169 575.056 601.609 574.964 598.812 574.688C598.063 574.626 597.313 574.565 596.541 574.502C594.693 574.349 592.846 574.176 591 574C591 573.67 591 573.34 591 573C597.342 571.847 603.567 571.905 610 572Z"
          fill="#8AC63C"></path>
        <path
          d="M853 558C853.66 558 854.32 558 855 558C854.886 560.251 854.758 562.5 854.625 564.75C854.521 566.629 854.521 566.629 854.414 568.547C854.047 571.61 853.603 573.42 852 576C851.973 573.187 851.953 570.375 851.937 567.562C851.929 566.76 851.921 565.958 851.912 565.131C851.903 563.087 851.948 561.043 852 559C852.33 558.67 852.66 558.34 853 558Z"
          fill="#9DCE58"></path>
        <path
          d="M997 450C997.33 450 997.66 450 998 450C998.248 452.958 998.474 455.915 998.688 458.875C998.76 459.717 998.833 460.559 998.908 461.426C998.963 462.231 999.018 463.037 999.074 463.867C999.132 464.611 999.189 465.354 999.249 466.121C999.126 467.051 999.126 467.051 999 468C997.515 468.99 997.515 468.99 996 470C995.971 466.854 995.953 463.708 995.938 460.562C995.929 459.665 995.921 458.767 995.912 457.842C995.909 456.988 995.906 456.134 995.902 455.254C995.894 454.068 995.894 454.068 995.886 452.858C996 451 996 451 997 450Z"
          fill="#98CA4F"></path>
        <path
          d="M84 416C84.66 416 85.32 416 86 416C86.978 419.796 86.9265 422.501 86.0625 426.312C85.8679 427.196 85.6732 428.079 85.4727 428.988C85.3167 429.652 85.1607 430.316 85 431C84.67 429.68 84.34 428.36 84 427C83.34 427 82.68 427 82 427C82.66 423.37 83.32 419.74 84 416Z"
          fill="#93C949"></path>
        <path
          d="M122 251C123.65 251.33 125.3 251.66 127 252C125.68 255.63 124.36 259.26 123 263C122.01 263 121.02 263 120 263C120.351 262.278 120.701 261.556 121.062 260.812C122.115 257.655 121.77 256.167 121 253C121.33 252.34 121.66 251.68 122 251Z"
          fill="#9CCE59"></path>
        <path
          d="M646 156C650.972 157.764 655.434 160.394 660 163C660 163.33 660 163.66 660 164C657.36 163.67 654.72 163.34 652 163C652 162.34 652 161.68 652 161C651.34 161 650.68 161 650 161C650 160.34 650 159.68 650 159C648.68 158.67 647.36 158.34 646 158C646 157.34 646 156.68 646 156Z"
          fill="#96C94B"></path>
        <path
          d="M307 401C307.66 401.66 308.32 402.32 309 403C308.967 405.729 308.436 408.297 308 411C308.66 411 309.32 411 310 411C309.67 412.65 309.34 414.3 309 416C307.68 415.67 306.36 415.34 305 415C305 413.35 305 411.7 305 410C305.33 410 305.66 410 306 410C306.33 407.03 306.66 404.06 307 401Z"
          fill="#8DC63C"></path>
        <path
          d="M240 72C240.66 72.33 241.32 72.66 242 73C240.438 76 240.438 76 238 79C234.25 79.375 234.25 79.375 231 79C233.623 76.0851 236.718 74.115 240 72Z"
          fill="#94C94D"></path>
        <path
          d="M306 401C306.33 401 306.66 401 307 401C307.054 402.583 307.093 404.166 307.125 405.75C307.148 406.632 307.171 407.513 307.195 408.422C306.991 411.114 306.366 412.699 305 415C304.01 415 303.02 415 302 415C302.478 413.229 302.958 411.458 303.438 409.688C303.704 408.701 303.971 407.715 304.246 406.699C304.781 404.785 305.371 402.886 306 401Z"
          fill="#99CB54"></path>
        <path
          d="M217 172C217.33 172.99 217.66 173.98 218 175C212.708 179.923 212.708 179.923 209.125 180.312C208.073 180.158 208.073 180.158 207 180C210.023 176.745 213.257 174.382 217 172Z"
          fill="#96C94E"></path>
        <path
          d="M165 366C165.66 366.33 166.32 366.66 167 367C168.098 371.291 167.923 374.692 167 379C166 377 166 377 165 375C164.588 374.361 164.175 373.721 163.75 373.062C163 371 163 371 163.875 368.25C164.246 367.507 164.618 366.765 165 366Z"
          fill="#94C84A"></path>
        <path
          d="M386 248C386.33 248 386.66 248 387 248C387 252.62 387 257.24 387 262C386.01 262.33 385.02 262.66 384 263C384.142 261.25 384.289 259.5 384.438 257.75C384.519 256.775 384.6 255.801 384.684 254.797C384.951 252.435 385.354 250.281 386 248Z"
          fill="#9FCE5C"></path>
        <path
          d="M326 703C327 706 327 706 326 709C324.062 710.125 324.062 710.125 322 711C321.01 711.495 321.01 711.495 320 712C321.312 708.063 322.919 705.773 326 703ZM319 712C319 712.99 319 713.98 319 715C318.01 715 317.02 715 316 715C316.99 714.01 317.98 713.02 319 712Z"
          fill="#F0F9E7"></path>
        <path
          d="M324 691C324 691.99 324 692.98 324 694C324.311 695.671 324.641 697.339 325 699C323.02 699.99 323.02 699.99 321 701C321 700.34 321 699.68 321 699C320.01 698.67 319.02 698.34 318 698C319.98 695.69 321.96 693.38 324 691Z"
          fill="#94C74B"></path>
        <path
          d="M787 286C789.526 288.363 790.888 289.665 792 293C788.25 294.125 788.25 294.125 786 293C785.25 291.125 785.25 291.125 785 289C785.66 288.01 786.32 287.02 787 286Z"
          fill="#93C948"></path>
        <path
          d="M197 895C200.47 896.157 200.886 897.181 203 900C203.99 900.33 204.98 900.66 206 901C206 901.99 206 902.98 206 904C201.956 902.221 198.539 899.605 195 897C195.66 896.34 196.32 895.68 197 895Z"
          fill="#9CCC54"></path>
        <path
          d="M712 755C712.66 755 713.32 755 714 755C712.612 758.354 711.114 760.113 708 762C707.01 762 706.02 762 705 762C705.875 758.125 705.875 758.125 707 757C708.666 756.959 710.334 756.957 712 757C712 756.34 712 755.68 712 755Z"
          fill="#95C94C"></path>
        <path
          d="M549 753C549.625 754.812 549.625 754.812 550 757C549.01 758.485 549.01 758.485 548 760C546.02 759.34 544.04 758.68 542 758C546.75 754.125 546.75 754.125 549 753Z"
          fill="#95C94A"></path>
        <path
          d="M362 661C363.32 661.66 364.64 662.32 366 663C363.69 665.31 361.38 667.62 359 670C358.34 668.68 357.68 667.36 357 666C358.65 665.67 360.3 665.34 362 665C361.67 664.01 361.34 663.02 361 662C361.33 661.67 361.66 661.34 362 661Z"
          fill="#98CA51"></path>
        <path
          d="M422 752C423.98 752.99 425.96 753.98 428 755C426.68 756.32 425.36 757.64 424 759C422.68 758.34 421.36 757.68 420 757C420.66 755.35 421.32 753.7 422 752Z"
          fill="#92C949"></path>
        <path
          d="M386 928C388.97 928.495 388.97 928.495 392 929C391.34 929.66 390.68 930.32 390 931C390.66 931.66 391.32 932.32 392 933C391.34 933.66 390.68 934.32 390 935C389.01 935 388.02 935 387 935C387 934.01 387 933.02 387 932C386.01 931.34 385.02 930.68 384 930C384.66 930 385.32 930 386 930C386 929.34 386 928.68 386 928Z"
          fill="#95C94F"></path>
        <path
          d="M750 718C750 721.838 748.735 723.115 746.5 726.188C745.85 727.089 745.201 727.99 744.531 728.918C744.026 729.605 743.521 730.292 743 731C742.01 730.34 741.02 729.68 740 729C743.3 725.37 746.6 721.74 750 718Z"
          fill="#E5F3D7"></path>
        <path
          d="M754 712C754.66 712.33 755.32 712.66 756 713C755.288 713.712 755.288 713.712 754.562 714.438C752.319 718.116 752.263 721.762 752 726C751.01 726 750.02 726 749 726C748.375 724.125 748.375 724.125 748 722C748.66 721.34 749.32 720.68 750 720C751.02 717.675 752.021 715.342 753 713C753.33 712.67 753.66 712.34 754 712Z"
          fill="#9ECF5E"></path>
        <path
          d="M805 715C805.99 715.66 806.98 716.32 808 717C807.67 717.99 807.34 718.98 807 720C806.01 720.33 805.02 720.66 804 721C802.775 724.008 802.775 724.008 802 727C801.34 726.01 800.68 725.02 800 724C801.65 721.03 803.3 718.06 805 715Z"
          fill="#F7FBF2"></path>
        <path
          d="M436 608C436.66 608.33 437.32 608.66 438 609C437.242 609.831 437.242 609.831 436.469 610.68C435.819 611.404 435.169 612.129 434.5 612.875C433.85 613.594 433.201 614.314 432.531 615.055C430.794 616.849 430.794 616.849 431 619C429.35 619.33 427.7 619.66 426 620C426.387 619.553 426.773 619.105 427.172 618.645C430.184 615.148 433.143 611.626 436 608Z"
          fill="#F2FBEB"></path>
        <path
          d="M228 550C230.645 553.125 231.844 556.088 233 560C230 560 230 560 228.25 558.375C226.592 555.225 227.155 553.38 228 550Z"
          fill="#95C94D"></path>
        <path
          d="M245 375C245.826 377.892 246 379.887 246 383C244.68 383.33 243.36 383.66 242 384C242 384.99 242 385.98 242 387C241.34 387 240.68 387 240 387C241.311 382.766 242.944 378.926 245 375Z"
          fill="#95C84B"></path>
        <path
          d="M133 243C133.746 244.703 133.746 244.703 134 247C132.348 249.359 132.348 249.359 130.062 251.75C128.935 252.949 128.935 252.949 127.785 254.172C127.196 254.775 126.607 255.378 126 256C126 252.162 127.265 250.885 129.5 247.812C130.15 246.911 130.799 246.01 131.469 245.082C131.974 244.395 132.479 243.708 133 243Z"
          fill="#E5F3D8"></path>
        <path
          d="M151 227C151 230.147 150.4 231.288 149 234C149 234.66 149 235.32 149 236C146.69 236.33 144.38 236.66 142 237C142.936 235.894 143.874 234.791 144.812 233.688C145.335 233.073 145.857 232.458 146.395 231.824C147.872 230.146 149.4 228.561 151 227Z"
          fill="#98C851"></path>
        <path
          d="M241 157C241.66 157.33 242.32 157.66 243 158C239.549 162.806 239.549 162.806 236.875 163.75C235.947 163.874 235.947 163.874 235 164C234.01 164.495 234.01 164.495 233 165C233 164.01 233 163.02 233 162C234.68 160.578 234.68 160.578 236.875 159.25C237.594 158.801 238.314 158.353 239.055 157.891C239.697 157.597 240.339 157.303 241 157Z"
          fill="#94C848"></path>
        <path
          d="M706 764C706 764.66 706 765.32 706 766C704 767.625 704 767.625 702 769C701.34 768.67 700.68 768.34 700 768C703.75 764 703.75 764 706 764ZM698 769C698.66 769.33 699.32 769.66 700 770C699.01 771.32 698.02 772.64 697 774C695.68 773.67 694.36 773.34 693 773C694.65 771.68 696.3 770.36 698 769Z"
          fill="#F1F8E8"></path>
        <path
          d="M987 600C987.99 600 988.98 600 990 600C989.34 603.3 988.68 606.6 988 610C987.01 609.67 986.02 609.34 985 609C985 608.01 985 607.02 985 606C985.66 606 986.32 606 987 606C987 604.02 987 602.04 987 600Z"
          fill="#92CA48"></path>
        <path
          d="M429 599C430.097 602.29 429.8 603.713 429 607C427.02 607.33 425.04 607.66 423 608C424.838 604.849 426.76 601.88 429 599Z"
          fill="#97C94D"></path>
        <path
          d="M552 581C551.67 581.66 551.34 582.32 551 583C549.68 583 548.36 583 547 583C547 583.66 547 584.32 547 585C544 584 544 584 541 582C548.429 579.572 548.429 579.572 552 581Z"
          fill="#9BCC52"></path>
        <path
          d="M972 336C974.952 338.952 975.087 341.955 976 346C975.34 346 974.68 346 974 346C974 345.34 974 344.68 974 344C972.68 343.34 971.36 342.68 970 342C970.667 340 971.333 338 972 336Z"
          fill="#9ACC54"></path>
        <path
          d="M554 162C550.994 165.006 548.176 164.596 544 165C544 164.01 544 163.02 544 162C547.283 160.358 550.425 161.481 554 162Z"
          fill="#94C84C"></path>
        <path
          d="M416 923C417.98 923 419.96 923 422 923C422 923.99 422 924.98 422 926C418.04 926 414.08 926 410 926C410 925.67 410 925.34 410 925C411.98 925 413.96 925 416 925C416 924.34 416 923.68 416 923Z"
          fill="#9FCE5C"></path>
        <path
          d="M721 876C721.33 876.66 721.66 877.32 722 878C719.482 881.123 718.274 881.945 714.25 882.75C712.641 882.874 712.641 882.874 711 883C714.197 880.351 717.395 878.06 721 876Z"
          fill="#99CA52"></path>
        <path
          d="M655.75 865.75C656.493 865.833 657.235 865.915 658 866C658.33 866.66 658.66 867.32 659 868C655.04 869.98 655.04 869.98 651 872C650.34 871.34 649.68 870.68 649 870C652.323 866.062 652.323 866.062 655.75 865.75Z"
          fill="#96CA4D"></path>
        <path
          d="M915 622C915.66 622.99 916.32 623.98 917 625C917.66 624.67 918.32 624.34 919 624C919 624.99 919 625.98 919 627C918.34 627 917.68 627 917 627C917 628.65 917 630.3 917 632C915.68 631.34 914.36 630.68 913 630C913.66 627.36 914.32 624.72 915 622Z"
          fill="#98CB50"></path>
        <path
          d="M315 701C316 703 316 703 315.75 705C315 707 315 707 312 709C309.812 708.625 309.812 708.625 308 708C310.333 705.667 312.667 703.333 315 701Z"
          fill="#9ACC53"></path>
        <path
          d="M441 478C443 479 443 479 444.125 481.25C445.005 484.016 445.165 486.12 445 489C444.01 489.495 444.01 489.495 443 490C441.862 485.734 441 482.435 441 478Z"
          fill="#99CB4E"></path>
        <path
          d="M545 157C547.31 157.66 549.62 158.32 552 159C551.67 159.99 551.34 160.98 551 162C548.69 161.67 546.38 161.34 544 161C544.33 159.68 544.66 158.36 545 157Z"
          fill="#F0F8EA"></path>
        <path
          d="M146 146C146 149.999 144.274 151.802 142 155C141.01 154.67 140.02 154.34 139 154C139.979 152.854 140.958 151.708 141.938 150.562C142.483 149.924 143.028 149.286 143.59 148.629C144.368 147.73 145.159 146.841 146 146Z"
          fill="#9FCD5B"></path>
        <path
          d="M308 128C306.68 129.65 305.36 131.3 304 133C302.02 132.34 300.04 131.68 298 131C300.715 128.284 304.321 126.16 308 128Z"
          fill="#98CB52"></path>
        <path
          d="M665 857C666.65 857.33 668.3 857.66 670 858C670 858.99 670 859.98 670 861C668.02 861.99 666.04 862.98 664 864C664.33 861.69 664.66 859.38 665 857Z"
          fill="#94C94C"></path>
        <path
          d="M515 770C515.66 770.99 516.32 771.98 517 773C512.749 774.416 510.281 773.193 506 772C509.45 769.699 510.946 769.568 515 770Z"
          fill="#96CA4E"></path>
        <path
          d="M538 759C538.66 759.33 539.32 759.66 540 760C534.831 764.923 534.831 764.923 530.625 765.312C529.326 765.158 529.326 765.158 528 765C529.967 763.033 531.544 762.063 534 760.812C534.701 760.448 535.402 760.083 536.125 759.707C536.744 759.474 537.363 759.24 538 759Z"
          fill="#99CB55"></path>
        <path
          d="M531 724C531 724.66 531 725.32 531 726C528.439 728.296 527.52 729 524 729C523.67 729.66 523.34 730.32 523 731C522.01 730.34 521.02 729.68 520 729C521.455 728.162 522.914 727.329 524.375 726.5C525.593 725.804 525.593 725.804 526.836 725.094C529 724 529 724 531 724Z"
          fill="#97CA4E"></path>
        <path
          d="M436 633C436 636 436 636 434.375 638.125C431.558 640.349 429.531 640.679 426 641C429.023 637.745 432.257 635.382 436 633Z"
          fill="#99CB51"></path>
        <path
          d="M448 625C448.66 625.33 449.32 625.66 450 626C444.857 631.571 444.857 631.571 441 632C440.67 631.34 440.34 630.68 440 630C441.285 629.136 442.578 628.284 443.875 627.438C444.954 626.724 444.954 626.724 446.055 625.996C446.697 625.667 447.339 625.339 448 625Z"
          fill="#96C94D"></path>
        <path
          d="M812 328C814.154 330.622 815.401 332.644 816 336C814.68 336 813.36 336 812 336C810.875 330.25 810.875 330.25 812 328Z"
          fill="#97CC50"></path>
        <path
          d="M699 190C698.01 190.66 697.02 191.32 696 192C693.116 190.707 691.128 189.34 689 187C693.304 185.013 695.513 187.385 699 190Z"
          fill="#93C94E"></path>
        <path
          d="M269 56C269.66 56.66 270.32 57.32 271 58C270.34 58 269.68 58 269 58C268.67 58.99 268.34 59.98 268 61C265.69 61 263.38 61 261 61C263.56 58.9886 266.046 57.3715 269 56Z"
          fill="#96C84C"></path>
        <path
          d="M275 841C277.915 842.074 279.778 842.778 282 845C277.375 847.125 277.375 847.125 274 846C274.66 845.34 275.32 844.68 276 844C275.67 843.01 275.34 842.02 275 841Z"
          fill="#93C74B"></path>
        <path
          d="M755 781C756.32 781.66 757.64 782.32 759 783C756.03 785.475 756.03 785.475 753 788C753 786.35 753 784.7 753 783C753.66 783 754.32 783 755 783C755 782.34 755 781.68 755 781Z"
          fill="#94C94D"></path>
        <path
          d="M586 723C586 726.169 585.794 727.437 584 730C581.375 730.75 581.375 730.75 579 731C579.979 729.854 580.958 728.708 581.938 727.562C582.483 726.924 583.028 726.286 583.59 725.629C584.368 724.73 585.159 723.841 586 723Z"
          fill="#9ACA53"></path>
        <path
          d="M627 656C627.66 656.33 628.32 656.66 629 657C629 657.66 629 658.32 629 659C628.01 659.495 628.01 659.495 627 660C626.01 661.485 626.01 661.485 625 663C622.375 664.188 622.375 664.188 620 665C620.978 663.687 621.958 662.374 622.938 661.062C623.483 660.332 624.028 659.601 624.59 658.848C626 657 626 657 627 656Z"
          fill="#ECF6DF"></path>
        <path
          d="M434 592C434.687 594.491 435 596.379 435 599C434.01 599.495 434.01 599.495 433 600C432.01 599.34 431.02 598.68 430 598C431.32 596.02 432.64 594.04 434 592Z"
          fill="#97CA51"></path>
        <path
          d="M719 591C719 591.99 719 592.98 719 594C716.468 596.357 715.528 597 712 597C713 594 713 594 716.062 592.312C717.032 591.879 718.001 591.446 719 591Z"
          fill="#95C84B"></path>
        <path
          d="M81 586C81.66 586 82.32 586 83 586C83.33 588.31 83.66 590.62 84 593C82.515 593.99 82.515 593.99 81 595C81 592.03 81 589.06 81 586Z"
          fill="#94CC4E"></path>
        <path
          d="M639 499C641.97 499 644.94 499 648 499C646.515 500.485 646.515 500.485 645 502C641.312 501.688 641.312 501.688 638 501C638.33 500.34 638.66 499.68 639 499Z"
          fill="#94C84A"></path>
        <path
          d="M304 206C303.67 206.99 303.34 207.98 303 209C303.33 209.99 303.66 210.98 304 212C301.36 211.67 298.72 211.34 296 211C300.773 206 300.773 206 304 206Z"
          fill="#98C954"></path>
        <path
          d="M901 202C902.32 203.32 903.64 204.64 905 206C902 208 902 208 899.812 207.625C899.214 207.419 898.616 207.213 898 207C898.375 205.062 898.375 205.062 899 203C899.66 202.67 900.32 202.34 901 202Z"
          fill="#93C948"></path>
        <path
          d="M320.125 161.875C321.074 161.916 322.022 161.957 323 162C323.33 162.66 323.66 163.32 324 164C321.03 164.66 318.06 165.32 315 166C315 162.289 316.741 162.01 320.125 161.875Z"
          fill="#96CA4B"></path>
        <path
          d="M798 99C800.884 100.293 802.872 101.659 805 104C804.01 104.33 803.02 104.66 802 105C799.312 103.562 799.312 103.562 797 102C797.33 101.01 797.66 100.02 798 99Z"
          fill="#96CA4D"></path>
        <path
          d="M391 66.0002C391.33 66.6602 391.66 67.3202 392 68.0002C391.34 68.0002 390.68 68.0002 390 68.0002C390 68.6602 390 69.3202 390 70.0002C390.66 70.3302 391.32 70.6602 392 71.0002C390.68 71.0002 389.36 71.0002 388 71.0002C388 70.0102 388 69.0202 388 68.0002C386.68 67.3402 385.36 66.6802 384 66.0002C387.116 64.9615 388.026 64.9098 391 66.0002Z"
          fill="#92C84A"></path>
        <path
          d="M271 937C269.35 938.65 267.7 940.3 266 942C263.525 941.01 263.525 941.01 261 940C264.813 937.458 266.475 936.881 271 937Z"
          fill="#94C84C"></path>
        <path
          d="M331 864C333.31 864.66 335.62 865.32 338 866C338 866.66 338 867.32 338 868C335.69 868 333.38 868 331 868C330.67 867.01 330.34 866.02 330 865C330.33 864.67 330.66 864.34 331 864Z"
          fill="#92C94C"></path>
        <path
          d="M625 834C625.66 834.33 626.32 834.66 627 835C626.67 835.99 626.34 836.98 626 838C623.36 838.33 620.72 838.66 618 839C620.297 837.257 622.599 835.601 625 834Z"
          fill="#97CA4C"></path>
        <path
          d="M416 834C416 834.66 416 835.32 416 836C416.66 836.33 417.32 836.66 418 837C414.305 837.95 411.695 837.95 408 837C410.774 835.15 412.64 834 416 834Z"
          fill="#95C94C"></path>
        <path
          d="M644 824C644 824.99 644 825.98 644 827C644.66 827 645.32 827 646 827C646 827.66 646 828.32 646 829C644.02 829.33 642.04 829.66 640 830C640 828 640 828 641 827C640.34 826.67 639.68 826.34 639 826C642 824 642 824 644 824Z"
          fill="#95CA4E"></path>
        <path
          d="M253 802C253.66 802.33 254.32 802.66 255 803C254.34 806.3 253.68 809.6 253 813C252.34 813 251.68 813 251 813C251.66 809.37 252.32 805.74 253 802Z"
          fill="#9BCA56"></path>
        <path
          d="M177 658C179.475 658.99 179.475 658.99 182 660C182 662.31 182 664.62 182 667C179.675 664.147 178.249 661.459 177 658Z"
          fill="#95C94B"></path>
        <path
          d="M370 653C370.33 653.99 370.66 654.98 371 656C371.66 656.33 372.32 656.66 373 657C371.35 658.32 369.7 659.64 368 661C368.875 654.125 368.875 654.125 370 653Z"
          fill="#97CA4E"></path>
        <path
          d="M259 576C259.66 576.66 260.32 577.32 261 578C260.605 580.963 259.402 583.383 258 586C257.34 584.35 256.68 582.7 256 581C256.99 580.67 257.98 580.34 259 580C259 578.68 259 577.36 259 576Z"
          fill="#96CA4F"></path>
        <path
          d="M288 488C288.99 488 289.98 488 291 488C291 490.64 291 493.28 291 496C290.01 496 289.02 496 288 496C288 493.36 288 490.72 288 488Z"
          fill="#A0CE63"></path>
        <path
          d="M956 296C957.562 297.812 957.562 297.812 959 300C958.67 300.99 958.34 301.98 958 303C957.01 303 956.02 303 955 303C954.375 301.188 954.375 301.188 954 299C954.66 298.01 955.32 297.02 956 296Z"
          fill="#94C84A"></path>
        <path
          d="M875 275C875.66 275 876.32 275 877 275C877.33 276.98 877.66 278.96 878 281C876.515 281.99 876.515 281.99 875 283C874.34 281.35 873.68 279.7 873 278C873.66 278 874.32 278 875 278C875 277.01 875 276.02 875 275Z"
          fill="#93CA4B"></path>
        <path
          d="M356 235C357.32 235.99 358.64 236.98 360 238C357.69 239.32 355.38 240.64 353 242C353.613 239.038 354.254 237.619 356 235Z"
          fill="#94C849"></path>
        <path
          d="M604 11C606.31 11.33 608.62 11.66 611 12C610.01 12.33 609.02 12.66 608 13C608 13.66 608 14.32 608 15C605.03 14.505 605.03 14.505 602 14C602.66 13.67 603.32 13.34 604 13C604 12.34 604 11.68 604 11Z"
          fill="#95C94E"></path>
        <path
          d="M710 883C710.66 883.99 711.32 884.98 712 886C709.36 886.99 706.72 887.98 704 889C703.34 888.34 702.68 887.68 702 887C704.64 885.68 707.28 884.36 710 883Z"
          fill="#96C94D"></path>
        <path
          d="M528 874C527.34 874.66 526.68 875.32 526 876C523.836 875.977 523.836 875.977 521.375 875.625C520.558 875.514 519.74 875.403 518.898 875.289C518.272 875.194 517.645 875.098 517 875C517 874.67 517 874.34 517 874C520.982 872.946 523.982 873.159 528 874Z"
          fill="#9ECC5C"></path>
        <path
          d="M319 664C319.99 664.33 320.98 664.66 322 665C322.812 666.875 322.812 666.875 323 669C322.01 670.485 322.01 670.485 321 672C319.235 668.912 319 667.767 319 664Z"
          fill="#94CA4D"></path>
        <path
          d="M283 636C284.648 638.967 285.443 641.656 286 645C285.01 645 284.02 645 283 645C282.155 641.622 281.892 639.325 283 636Z"
          fill="#99CA50"></path>
        <path
          d="M525 595C526.98 595 528.96 595 531 595C531.33 595.66 531.66 596.32 532 597C529.36 597.99 526.72 598.98 524 600C523.67 599.34 523.34 598.68 523 598C524.32 598 525.64 598 527 598C527 597.34 527 596.68 527 596C526.34 595.67 525.68 595.34 525 595Z"
          fill="#98C954"></path>
        <path
          d="M144 560C144.99 560 145.98 560 147 560C146.67 563.3 146.34 566.6 146 570C145.67 570 145.34 570 145 570C144.67 566.7 144.34 563.4 144 560Z"
          fill="#98CA51"></path>
        <path
          d="M756 539C756.66 539.99 757.32 540.98 758 542C755 543 755 543 751.812 541.563C750.884 541.047 749.956 540.531 749 540C752.625 537.875 752.625 537.875 756 539Z"
          fill="#9ACA55"></path>
        <path
          d="M244 528C245.461 530.647 246 531.894 246 535C244.35 534.67 242.7 534.34 241 534C242 531 242 531 244 528Z"
          fill="#9ACC54"></path>
        <path
          d="M60 261C60.3094 261.639 60.6188 262.279 60.9375 262.938C61.8345 264.936 61.8345 264.936 63 266C63.0406 267.666 63.0427 269.334 63 271C61.35 269.35 59.7 267.7 58 266C58.66 264.35 59.32 262.7 60 261Z"
          fill="#94C84C"></path>
        <path
          d="M699 191C700.65 192.32 702.3 193.64 704 195C702.68 195.33 701.36 195.66 700 196C700 195.34 700 194.68 700 194C699.34 193.67 698.68 193.34 698 193C698.33 192.34 698.66 191.68 699 191ZM697 195C698.98 195.99 698.98 195.99 701 197C700.01 197.495 700.01 197.495 699 198C698.34 197.67 697.68 197.34 697 197C697 196.34 697 195.68 697 195Z"
          fill="#92C84A"></path>
        <path
          d="M113 183C113.66 183.66 114.32 184.32 115 185C113.35 186.98 111.7 188.96 110 191C109.01 190.67 108.02 190.34 107 190C108.98 187.69 110.96 185.38 113 183Z"
          fill="#96CA4B"></path>
        <path
          d="M153 139C155.625 138.812 155.625 138.812 158 139C158.33 140.32 158.66 141.64 159 143C156.36 142.67 153.72 142.34 151 142C151.66 141.01 152.32 140.02 153 139Z"
          fill="#96CC4E"></path>
        <path
          d="M206 95C208 98 208 98 207.625 100.188C207.419 100.786 207.213 101.384 207 102C204.869 100.935 203.634 99.7084 202 98C203.32 97.01 204.64 96.02 206 95Z"
          fill="#94C949"></path>
        <path
          d="M375 17C373 19 373 19 370.836 19.1953C369.618 19.1605 369.618 19.1605 368.375 19.125C367.558 19.1069 366.74 19.0889 365.898 19.0703C365.272 19.0471 364.645 19.0239 364 19C368 16.9312 370.564 15.6234 375 17Z"
          fill="#9FCD5A"></path>
        <path
          d="M226 917C227.65 917 229.3 917 231 917C231.33 918.65 231.66 920.3 232 922C230.02 921.01 228.04 920.02 226 919C226 918.34 226 917.68 226 917Z"
          fill="#95C94C"></path>
        <path
          d="M551 868C549.75 869.562 549.75 869.562 548 871C545.812 870.687 545.812 870.687 544 870C544 869.34 544 868.68 544 868C546.667 866.666 548.167 867.329 551 868Z"
          fill="#95CA4C"></path>
        <path
          d="M908 788C908.33 788.66 908.66 789.32 909 790C909.66 790.33 910.32 790.66 911 791C908.03 793.475 908.03 793.475 905 796C904.34 795.67 903.68 795.34 903 795C904.65 792.69 906.3 790.38 908 788Z"
          fill="#EDF8E4"></path>
        <path
          d="M730 744C729.67 745.32 729.34 746.64 729 748C727.35 748.33 725.7 748.66 724 749C725.127 745.619 726.212 744 730 744Z"
          fill="#FCFDFC"></path>
        <path
          d="M740 733C740.99 733.33 741.98 733.66 743 734C743 735.98 743 737.96 743 740C742.546 739.526 742.093 739.051 741.625 738.562C740.067 736.91 740.067 736.91 738 736C738.66 735.01 739.32 734.02 740 733Z"
          fill="#95C94F"></path>
        <path
          d="M136 712C136.99 712.33 137.98 712.66 139 713C139 714.98 139 716.96 139 719C137.68 717.68 136.36 716.36 135 715C135.33 714.01 135.66 713.02 136 712Z"
          fill="#F6FBF0"></path>
        <path
          d="M269 598C271.615 600.366 273.39 602.86 275 606C274.67 606.66 274.34 607.32 274 608C272.02 605.03 270.04 602.06 268 599C268.33 598.67 268.66 598.34 269 598Z"
          fill="#A0CB5B"></path>
        <path
          d="M2 450C2.33 450.66 2.66 451.32 3 452C3.66 452 4.32 452 5 452C5 454.64 5 457.28 5 460C4.67 458.68 4.34 457.36 4 456C3.34 456 2.68 456 2 456C2 454.02 2 452.04 2 450Z"
          fill="#94C94D"></path>
        <path
          d="M986 384C986.33 384 986.66 384 987 384C989.277 392.036 989.277 392.036 988 396C987.67 395.01 987.34 394.02 987 393C986.34 392.67 985.68 392.34 985 392C985.33 389.36 985.66 386.72 986 384Z"
          fill="#98CB55"></path>
        <path
          d="M33 320C33.66 320.66 34.32 321.32 35 322C34.8125 324 34.8125 324 34 326C32.515 326.99 32.515 326.99 31 328C31.875 322.25 31.875 322.25 33 320Z"
          fill="#97CB4F"></path>
        <path
          d="M298 317C298.812 318.688 298.812 318.688 299 321C296.562 323.75 296.562 323.75 294 326C294 322.001 295.726 320.198 298 317Z"
          fill="#F0F8E7"></path>
        <path
          d="M340 155C341.65 155 343.3 155 345 155C345.33 155.66 345.66 156.32 346 157C343.36 157.66 340.72 158.32 338 159C338 158.34 338 157.68 338 157C338.66 157 339.32 157 340 157C340 156.34 340 155.68 340 155Z"
          fill="#94C94E"></path>
        <path
          d="M259 150C257.68 151.32 256.36 152.64 255 154C254.01 153.01 253.02 152.02 252 151C255.625 148.875 255.625 148.875 259 150Z"
          fill="#95CA48"></path>
        <path
          d="M834 128C836.021 129.642 838.02 131.309 840 133C840 133.33 840 133.66 840 134C838.35 134 836.7 134 835 134C834.67 132.02 834.34 130.04 834 128Z"
          fill="#96C84C"></path>
        <path
          d="M626 16C630.455 16.99 630.455 16.99 635 18C634.67 18.66 634.34 19.32 634 20C631.69 19.67 629.38 19.34 627 19C626.67 18.01 626.34 17.02 626 16Z"
          fill="#9CCC55"></path>
        <path
          d="M259 782C260.32 782.66 261.64 783.32 263 784C262 787 262 787 259 789C258.066 785.99 257.955 785.133 259 782Z"
          fill="#96CA50"></path>
        <path
          d="M263 765C265.475 765.495 265.475 765.495 268 766C267.688 767.938 267.688 767.938 267 770C266.01 770.33 265.02 770.66 264 771C263.67 769.02 263.34 767.04 263 765Z"
          fill="#9BCB56"></path>
        <path
          d="M898 670C900 674 900 674 899.312 676.188C898 678 898 678 895 679C895.99 676.03 896.98 673.06 898 670Z"
          fill="#A1D061"></path>
        <path
          d="M608 671C608.66 671 609.32 671 610 671C610 671.66 610 672.32 610 673C610.99 673.33 611.98 673.66 613 674C611.68 674.99 610.36 675.98 609 677C609 676.01 609 675.02 609 674C608.01 674.33 607.02 674.66 606 675C606 673 606 673 608 671Z"
          fill="#95CA48"></path>
        <path
          d="M278 624C278.99 624.99 279.98 625.98 281 627C280.34 628.32 279.68 629.64 279 631C278.34 631 277.68 631 277 631C276.67 629.35 276.34 627.7 276 626C276.66 626 277.32 626 278 626C278 625.34 278 624.68 278 624Z"
          fill="#97CA52"></path>
        <path
          d="M147 569C147.66 569 148.32 569 149 569C148.67 571.97 148.34 574.94 148 578C145.852 574.778 145.706 573.722 146 570C146.33 569.67 146.66 569.34 147 569Z"
          fill="#99CA4F"></path>
        <path
          d="M446 489C446.976 491.928 447.082 493.956 447 497C446.01 497.495 446.01 497.495 445 498C444.375 494.625 444.375 494.625 444 491C444.66 490.34 445.32 489.68 446 489Z"
          fill="#93C948"></path>
        <path
          d="M934 472C934.33 472 934.66 472 935 472C935 474.64 935 477.28 935 480C934.01 480 933.02 480 932 480C931.799 476.284 931.848 475.228 934 472Z"
          fill="#95C84B"></path>
        <path
          d="M140 461C140.33 461 140.66 461 141 461C141 462.98 141 464.96 141 467C141.66 467 142.32 467 143 467C142.67 468.32 142.34 469.64 142 471C141.34 471 140.68 471 140 471C140 467.7 140 464.4 140 461Z"
          fill="#9FCE5E"></path>
        <path
          d="M793 295C795.252 297.688 796.882 299.646 798 303C796.062 302.375 796.062 302.375 794 301C793.25 297.875 793.25 297.875 793 295Z"
          fill="#96CA50"></path>
        <path
          d="M166 270C166.99 270.33 167.98 270.66 169 271C166.36 272.98 163.72 274.96 161 277C162.617 273.765 163.476 272.294 166 270Z"
          fill="#F1F9EC"></path>
        <path
          d="M805 104C809.875 106.75 809.875 106.75 811 109C809.68 109.33 808.36 109.66 807 110C806 108 805.506 106.169 805 104Z"
          fill="#9ACB55"></path>
      </g>
      <defs>
        <clipPath id="clip0_302_488">
          <rect width="1000" height="1000" fill="white"></rect>
        </clipPath>
      </defs>
    </svg>
    <h1 class="font-roboto-slab">
      <span class="font-bold font-roboto-slab">ECO</span>
      <span class="text-light-primary font-bold font-roboto-slab">GREEN</span>
    </h1>
  </div>
  <ul class="flex flex-row items-center gap-6">
    <li><p class="font-bold text-sm opacity-80 font-roboto-slab">Inicio</p></li>
    <li>
      <p class="font-bold text-sm opacity-80 font-roboto-slab">Participa</p>
    </li>
    <li>
      <p class="font-bold text-sm opacity-80 font-roboto-slab">
        TV otoales de reciclaje
      </p>
    </li>
    <li>
      <p class="font-bold text-sm opacity-80 font-roboto-slab">
        Tips para reciclar
      </p>
    </li>
    <li>
      <p class="font-bold text-sm opacity-80 font-roboto-slab">Quienes somos</p>
    </li>
    <li>
      <svg
        width="20"
        height="20"
        viewBox="0 0 33 33"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M21.8652 19.8329H20.7994L20.4217 19.4688C21.2648 18.49 21.8809 17.3369 22.2261 16.0923C22.5713 14.8476 22.6369 13.5421 22.4183 12.2691C21.7842 8.52092 18.6544 5.52777 14.877 5.06935C13.5491 4.90145 12.2002 5.03938 10.9338 5.47261C9.66734 5.90583 8.51684 6.62285 7.57032 7.56881C6.6238 8.51477 5.90636 9.6646 5.47288 10.9303C5.03941 12.196 4.90139 13.544 5.0694 14.8713C5.52807 18.6464 8.52298 21.7744 12.2734 22.4081C13.5471 22.6266 14.8534 22.561 16.0988 22.216C17.3442 21.871 18.4979 21.2552 19.4773 20.4126L19.8416 20.7901V21.8553L25.5751 27.5854C26.1282 28.1382 27.0321 28.1382 27.5852 27.5854C28.1383 27.0326 28.1383 26.1293 27.5852 25.5765L21.8652 19.8329ZM13.7708 19.8329C10.4117 19.8329 7.70006 17.1229 7.70006 13.7657C7.70006 10.4085 10.4117 7.69847 13.7708 7.69847C17.13 7.69847 19.8416 10.4085 19.8416 13.7657C19.8416 17.1229 17.13 19.8329 13.7708 19.8329Z"
          fill="black"></path>
      </svg>
    </li>
  </ul>
</nav>
