<section class="py-4 max-w-[1024px] w-full flex flex-col gap-4 mt-24">
  <p class="font-roboto-slab font-bold text-xl">
    ¿Cómo es el Proceso del Reciclaje?
  </p>
  <div class="grid grid-cols-2 gap-4 w-full">
    <iframe
      width="560"
      height="315"
      class="w-full"
      src="https://www.youtube.com/embed/l74XZBI1xZM?si=ldT-GlRn63FLdEMg"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen></iframe>
    <iframe
      width="560"
      height="315"
      class="w-full"
      src="https://www.youtube.com/embed/WOR0ytnVuB4?si=X9lszzI7pkam2m4o"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen></iframe>
  </div>
</section>
