<section class="py-4 max-w-[1024px] w-full flex flex-col gap-4 mt-4">
  <p class="font-roboto-slab font-bold text-xl">
    Consejos para Reciclar de Forma Eficaz
  </p>
  <div class="flex flex-row flex-wrap gap-4">
    <iframe
      class="basis-[520px] flex-grow flex rounded-lg"
      width="560"
      height="315"
      src="https://www.youtube.com/embed/ly2US9m-lNA?si=x8K2m_xoIjCH1VBl"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen></iframe>
    <iframe
      class="basis-[220px] flex-grow rounded-lg"
      width="560"
      height="315"
      src="https://www.youtube.com/embed/_dB_dpj5LyM?si=h7i9ULt7AtbWjPIZ"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen></iframe>
    <iframe
      class="basis-[220px] flex-grow rounded-lg"
      width="560"
      height="315"
      src="https://www.youtube.com/embed/auj4bXMHL-8?si=MpPDY9Ojc_EC3Eez"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen></iframe>
  </div>
</section>
