<section class="py-4 max-w-[1024px] flex flex-col gap-4 mt-24">
  <p class="font-roboto-slab font-bold text-xl">¿Qué es reciclar?</p>
  <p class="opacity-90 text-lg">
    Se entiende por reciclar la acción de convertir materiales de desecho en
    materia prima o en otros productos, de modo de extender su vida útil y
    combatir la acumulación de desechos en el mundo. El reciclaje reinserta el
    material de descarte de numerosas actividades industriales, empresariales o
    del consumo cotidiano, en la cadena productiva, permitiendo que sea
    reutilizado y disminuyendo la necesidad de adquirir o elaborar materiales
    nuevos.
  </p>

  <p class="opacity-90 text-lg">
    No todos los materiales existentes son reciclables, pero un buen número de
    ellos sí, como el cartón, el vidrio, el aluminio, el papel y ciertos tipos
    de plásticos, que pueden ser sometidos a diversos procesos de
    reaprovechamiento y recomenzar su ciclo de utilidad.
  </p>
  <div class="w-full grid grid-cols-2 gap-4">
    <img src="/photos/2.jpg" class="h-[20rem] rounded-lg w-full object-cover" />
    <img src="/photos/3.jpg" class="h-[20rem] rounded-lg w-full object-cover" />
  </div>
</section>
