<section class="py-4 max-w-[1024px] w-full flex flex-col gap-4 mt-24">
  <p class="font-roboto-slab font-bold text-xl">
    ¿Cuáles son los Materiales Reciclables?
  </p>
  <div class="w-full flex-row grid grid-cols-2 p-4">
    <ul>
      <li class="list-disc">
        <strong>Papel:</strong>
        <ul class="list-decimal">
          <li>Papel de oficina.</li>
          <li>Periódicos y revistas.</li>
          <li>Cartón y cartulina.</li>
          <li>Cajas de cartón.</li>
        </ul>
        <br />
      </li>
      <li class="list-disc">
        <strong>Plástico:</strong>
        <ul class="list-decimal">
          <li>Botellas de plástico (PET).</li>
          <li>Envases de plástico (HDPE).</li>
          <li>Envases de yogur y margarina (PP).</li>
          <li>Envoltorios de plástico.</li>
        </ul>
        <br />
      </li>
      <li class="list-disc">
        <strong>Vidrio:</strong>
        <ul class="list-decimal">
          <li>Botellas de vidrio (de cualquier color).</li>
          <li>Frascos de vidrio (de cualquier color).</li>
          <li>Envases de alimentos de vidrio.</li>
        </ul>
        <br />
      </li>
      <li class="list-disc">
        <strong>Metal:</strong>
        <ul class="list-decimal">
          <li>Latas de aluminio (refrescos, cerveza).</li>
          <li>Latas de acero (conservas).</li>
          <li>Envases de aerosol vacíos.</li>
          <li>Envases metálicos de alimentos.</li>
        </ul>
        <br />
      </li>
    </ul>
    <ul>
      <li class="list-disc">
        <strong>Cartón:</strong>
        <ul class="list-decimal">
          <li>Cajas de cartón corrugado.</li>
          <li>Envases de cartón para alimentos (como los de cereales).</li>
          <li>Tubos de cartón (como los de papel higiénico).</li>
        </ul>
        <br />
      </li>
      <li class="list-disc">
        <strong>Tetra Pak:</strong>
        <ul class="list-decimal">
          <li>Envases para leche, jugos y otros líquidos.</li>
        </ul>
        <br />
      </li>
      <li class="list-disc">
        <strong>Electrónicos:</strong>
        <ul class="list-decimal">
          <li>Teléfonos móviles.</li>
          <li>Ordenadores y portátiles.</li>
          <li>Televisores y monitores.</li>
          <li>
            Electrodomésticos pequeños (como tostadoras o secadores de pelo).
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <img
    src="slider/2.jpg"
    alt="materials-for-recycling"
    class="object-cover w-full rounded-lg"
  />
</section>
