<section class="py-4 max-w-[1024px] flex flex-col gap-4 mt-24">
  <p class="font-roboto-slab font-bold text-xl">
    ¿Porque es importante el reciclaje?
  </p>
  <div class="flex flex-wrap flex-row gap-4">
    {
      [
        {
          title: "Conservación de recursos naturales",
          icon: (
            <svg
              width="25"
              height="25"
              viewBox="0 0 155 155"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M32.6727 75.8336C45.0597 77.3577 56.3877 68.1546 57.97 55.2832C59.5522 42.4117 44.8208 30.0053 50.1683 12.9165C23.6697 16.7528 14.5377 38.1105 13.0975 49.7678C11.5152 62.6392 20.2856 74.3094 32.6727 75.8336Z"
                stroke="black"
                stroke-width="8"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="stroke-dark-primary"
              />
              <path
                d="M45.2083 129.167C32.776 98.9673 30.8062 72.2944 33.1505 51.6665M61.4058 114.106C68.9943 129.554 87.323 133.817 102.339 123.625C117.354 113.434 119.725 85.1853 142.083 75.3363C118.22 48.9023 88.4597 58.4478 74.8649 67.6767C59.8428 77.868 53.8172 98.6573 61.4058 114.112"
                stroke="black"
                stroke-width="8"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="stroke-dark-primary"
              />
              <path
                d="M38.75 142.083C54.1079 115.63 72.7467 99.6519 90.4167 90.4165"
                stroke="black"
                stroke-width="8"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="stroke-dark-primary"
              />
            </svg>
          ),
          description:
            "El reciclaje ayuda a conservar recursos valiosos como el agua, la energía y los materiales. Por ejemplo, al reciclar papel se reduce la necesidad de talar árboles, mientras que el reciclaje de metales ahorra energía y reduce la extracción de minerales.",
        },
        {
          title: "Reducción de la contaminación",
          icon: (
            <svg
              width="25"
              height="25"
              viewBox="0 0 155 155"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M58.125 87.1873V58.1248C58.125 52.0346 58.125 48.9928 56.2327 47.1005C54.3404 45.2082 51.2985 45.2082 45.2083 45.2082H32.2917C26.2015 45.2082 23.1596 45.2082 21.2673 47.1005C19.375 48.9928 19.375 52.0346 19.375 58.1248V116.25C19.375 128.43 19.375 134.514 23.1596 138.299C26.9442 142.083 33.0279 142.083 45.2083 142.083H58.125M58.125 87.1873L79.5473 76.4794C86.6515 72.9273 90.2035 71.1448 92.9613 72.3267C93.5504 72.5779 94.0989 72.9152 94.5888 73.3278C96.875 75.2653 96.875 79.2371 96.875 87.1873L116.935 77.1575C125.311 72.9725 129.496 70.8736 132.564 72.7659C135.631 74.6582 135.625 79.3469 135.625 88.718V116.25C135.625 128.43 135.625 134.514 131.84 138.299C128.056 142.083 121.972 142.083 109.792 142.083H58.125M58.125 87.1873V142.083M19.375 64.5832H58.125M83.9583 12.9165H51.6667C45.5765 12.9165 42.5346 12.9165 40.6423 14.8088C38.75 16.7011 38.75 19.743 38.75 25.8332M103.333 12.9165H109.792M71.0417 32.2915H109.792"
                stroke="black"
                stroke-width="8"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="stroke-dark-primary"
              />
            </svg>
          ),
          description:
            "Al reciclar materiales en lugar de desecharlos en vertederos o incineradoras, se reduce la contaminación del aire, el agua y el suelo. La producción de productos reciclados también tiende a generar menos contaminantes que la producción de productos nuevos a partir de materias primas",
        },
        {
          title: "Disminución de residuos",
          icon: (
            <svg
              width="25"
              height="25"
              viewBox="0 0 155 155"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M24.2188 32.2915H59.2875C61.4135 32.2918 63.5067 31.7674 65.3814 30.7647C67.256 29.762 68.8542 28.3121 70.0342 26.5436L75.2783 18.6644C76.4583 16.8959 78.0565 15.446 79.9311 14.4433C81.8058 13.4406 83.899 12.9162 86.025 12.9165H115.01C117.722 12.9159 120.365 13.7689 122.566 15.3546C124.766 16.9404 126.411 19.1784 127.268 21.7515L130.781 32.2915M140.469 32.2915H56.5104"
                stroke="black"
                stroke-width="8"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="stroke-dark-primary"
              />
              <path
                d="M130.781 32.2915L126.777 96.2678C126.644 98.3775 126.512 100.352 126.383 102.19M33.9062 32.2915L37.8135 96.2096C38.8081 111.8 39.3119 119.589 43.4581 125.201C45.5054 127.972 48.1469 130.31 51.2081 132.066C57.4081 135.625 65.7006 135.625 82.2985 135.625H98.4896M134.01 122.708C134.01 117.57 131.969 112.641 128.336 109.008C124.702 105.374 119.774 103.333 114.635 103.333C109.497 103.333 104.569 105.374 100.935 109.008C97.3017 112.641 95.2604 117.57 95.2604 122.708C95.2604 127.847 97.3017 132.775 100.935 136.408C104.569 140.042 109.497 142.083 114.635 142.083C119.774 142.083 124.702 140.042 128.336 136.408C131.969 132.775 134.01 127.847 134.01 122.708Z"
                stroke="black"
                stroke-width="8"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="stroke-dark-primary"
              />
            </svg>
          ),
          description:
            "El reciclaje reduce la cantidad de residuos que van a parar a los vertederos, lo que ayuda a extender la vida útil de estos y a evitar la contaminación asociada con su funcionamiento.",
        },
        {
          title: "Creación de empleo y economia",
          icon: (
            <svg
              width="25"
              height="25"
              viewBox="0 0 159 159"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M102.305 76.1951L141.26 58.9777V146.11H102.305V76.1951ZM102.305 76.1951L77.9554 89.1082L53.6057 54.6733V146.087H102.305V76.1951Z"
                stroke="black"
                stroke-width="8"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="stroke-dark-primary"
              />
              <path
                d="M150.937 12.9131L89.165 52.3905L60.7722 19.1936L9.97168 45.2923M14.6508 71.8907L53.6058 54.6733V146.098H14.6508V71.8907Z"
                stroke="black"
                stroke-width="8"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="stroke-dark-primary"
              />
              <path
                d="M120.227 7.7002L150.925 12.8109L145.814 43.5206"
                stroke="black"
                stroke-width="8"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="stroke-dark-primary"
              />
            </svg>
          ),
          description:
            " La industria del reciclaje genera empleos en la recolección, clasificación, procesamiento y fabricación de productos reciclados. Además, el mercado de productos reciclados contribuye a la economía al proporcionar una fuente de materiales secundarios para la fabricación.",
        },
        {
          title: "Educación y conciencia ambienta",
          icon: (
            <svg
              width="25"
              height="25"
              viewBox="0 0 155 155"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M125.938 145.312H116.25V130.781C116.242 124.36 113.688 118.205 109.148 113.664C104.608 109.124 98.4521 106.57 92.0312 106.562H62.9688C56.5479 106.57 50.3922 109.124 45.852 113.664C41.3118 118.205 38.7577 124.36 38.75 130.781V145.312H29.0625V130.781C29.0753 121.793 32.6517 113.176 39.0076 106.82C45.3634 100.464 53.9802 96.8878 62.9688 96.875H92.0312C101.02 96.8878 109.637 100.464 115.992 106.82C122.348 113.176 125.925 121.793 125.938 130.781V145.312ZM24.2188 29.0625C22.9341 29.0625 21.7021 29.5728 20.7937 30.4812C19.8853 31.3896 19.375 32.6216 19.375 33.9062V77.5H29.0625V33.9062C29.0625 32.6216 28.5522 31.3896 27.6438 30.4812C26.7354 29.5728 25.5034 29.0625 24.2188 29.0625Z"
                fill="black"
                class="fill-dark-primary"
              />
              <path
                d="M19.375 9.6875V19.375H43.5938V53.2812C43.5938 62.2737 47.166 70.8979 53.5247 77.2566C59.8833 83.6152 68.5075 87.1875 77.5 87.1875C86.4925 87.1875 95.1167 83.6152 101.475 77.2566C107.834 70.8979 111.406 62.2737 111.406 53.2812V19.375H135.625V9.6875H19.375ZM53.2812 19.375H101.719V33.9062H53.2812V19.375ZM77.5 77.5C71.0768 77.5 64.9167 74.9484 60.3748 70.4065C55.8329 65.8646 53.2813 59.7045 53.2812 53.2812V43.5938H101.719V53.2812C101.719 59.7045 99.1671 65.8646 94.6252 70.4065C90.0833 74.9484 83.9232 77.5 77.5 77.5Z"
                fill="black"
                class="fill-dark-primary"
              />
            </svg>
          ),
          description:
            " El reciclaje fomenta la educación y la conciencia ambiental al destacar la importancia de la gestión responsable de los recursos y la reducción de la huella de carbono. ",
        },
      ]?.map((e) => (
        <article class="justify-start min-h-[280px] p-4 border border-gray-200 bg-white rounded-lg flex flex-col gap-2 max-w-full w-full flex-grow flex-1 basis-[320px]">
          <figure class="p-3 border border-dark-primary w-fit rounded-xl">
            {e?.icon}
          </figure>
          <p class="font-bold font">{e?.title}</p>
          <p class="text-sm opacity-70 leading-6">{e?.description}</p>
        </article>
      ))
    }
  </div>
</section>
